<root>
  <Websocket password="Vg+C/5i0UUlUT9MbYJg6Rw==" />
  <Source1 name="Cam 2" />
  <Source2 name="Cam 3" />
  <Source3 name="Cam 1" />
  <Source4 name="" />
  <Source5 name="" />
  <Source6 name="" />
  <Source7 name="" />
  <Source8 name="" />
  <WebsocketAddress address="127.0.0.1" />
  <WebsocketPort port="4444" />
  <CutBus cutbus="true" />
  <Mode mode="OBS Direct-Connect" />
</root>